fundamentos/01-fundamentos-reactjs/logs
fundamentos/01-fundamentos-reactjs/*.log
fundamentos/01-fundamentos-reactjs/npm-debug.log*
fundamentos/01-fundamentos-reactjs/yarn-debug.log*
fundamentos/01-fundamentos-reactjs/yarn-error.log*
fundamentos/01-fundamentos-reactjs/pnpm-debug.log*
fundamentos/01-fundamentos-reactjs/lerna-debug.log*
fundamentos/01-fundamentos-reactjs/node_modules
fundamentos/01-fundamentos-reactjs/dist
fundamentos/01-fundamentos-reactjs/dist-ssr
fundamentos/01-fundamentos-reactjs/*.local
fundamentos/01-fundamentos-reactjs/.vscode/*
fundamentos/01-fundamentos-reactjs/!.vscode/extensions.json
fundamentos/01-fundamentos-reactjs/.idea
fundamentos/01-fundamentos-reactjs/.DS_Store
fundamentos/01-fundamentos-reactjs/*.suo
fundamentos/01-fundamentos-reactjs/*.ntvs*
fundamentos/01-fundamentos-reactjs/*.njsproj
fundamentos/01-fundamentos-reactjs/*.sln
fundamentos/01-fundamentos-reactjs/*.sw?

fundamentos/01-fundamentos-reactjs-ts/logs
fundamentos/01-fundamentos-reactjs-ts/*.log
fundamentos/01-fundamentos-reactjs-ts/npm-debug.log*
fundamentos/01-fundamentos-reactjs-ts/yarn-debug.log*
fundamentos/01-fundamentos-reactjs-ts/yarn-error.log*
fundamentos/01-fundamentos-reactjs-ts/pnpm-debug.log*
fundamentos/01-fundamentos-reactjs-ts/lerna-debug.log*
fundamentos/01-fundamentos-reactjs-ts/node_modules
fundamentos/01-fundamentos-reactjs-ts/dist
fundamentos/01-fundamentos-reactjs-ts/dist-ssr
fundamentos/01-fundamentos-reactjs-ts/*.local
fundamentos/01-fundamentos-reactjs-ts/.vscode/*
fundamentos/01-fundamentos-reactjs-ts/!.vscode/extensions.json
fundamentos/01-fundamentos-reactjs-ts/.idea
fundamentos/01-fundamentos-reactjs-ts/.DS_Store
fundamentos/01-fundamentos-reactjs-ts/*.suo
fundamentos/01-fundamentos-reactjs-ts/*.ntvs*
fundamentos/01-fundamentos-reactjs-ts/*.njsproj
fundamentos/01-fundamentos-reactjs-ts/*.sln
fundamentos/01-fundamentos-reactjs-ts/*.sw?

fundamentos/desafio/logs
fundamentos/desafio/*.log
fundamentos/desafio/npm-debug.log*
fundamentos/desafio/yarn-debug.log*
fundamentos/desafio/yarn-error.log*
fundamentos/desafio/pnpm-debug.log*
fundamentos/desafio/lerna-debug.log*
fundamentos/desafio/node_modules
fundamentos/desafio/dist
fundamentos/desafio/dist-ssr
fundamentos/desafio/*.local
fundamentos/desafio/.vscode/*
fundamentos/desafio/!.vscode/extensions.json
fundamentos/desafio/.idea
fundamentos/desafio/.DS_Store
fundamentos/desafio/*.suo
fundamentos/desafio/*.ntvs*
fundamentos/desafio/*.njsproj
fundamentos/desafio/*.sln
fundamentos/desafio/*.sw?

hooks/02-ignite-timer/logs
hooks/02-ignite-timer/*.log
hooks/02-ignite-timer/npm-debug.log*
hooks/02-ignite-timer/yarn-debug.log*
hooks/02-ignite-timer/yarn-error.log*
hooks/02-ignite-timer/pnpm-debug.log*
hooks/02-ignite-timer/lerna-debug.log*
hooks/02-ignite-timer/node_modules
hooks/02-ignite-timer/dist
hooks/02-ignite-timer/dist-ssr
hooks/02-ignite-timer/*.local
hooks/02-ignite-timer/.vscode/*
hooks/02-ignite-timer/!.vscode/extensions.json
hooks/02-ignite-timer/.idea
hooks/02-ignite-timer/.DS_Store
hooks/02-ignite-timer/*.suo
hooks/02-ignite-timer/*.ntvs*
hooks/02-ignite-timer/*.njsproj
hooks/02-ignite-timer/*.sln
hooks/02-ignite-timer/*.sw?
