fundamentos/01-fundamentos-reactjs/logs
fundamentos/01-fundamentos-reactjs/*.log
fundamentos/01-fundamentos-reactjs/npm-debug.log*
fundamentos/01-fundamentos-reactjs/yarn-debug.log*
fundamentos/01-fundamentos-reactjs/yarn-error.log*
fundamentos/01-fundamentos-reactjs/pnpm-debug.log*
fundamentos/01-fundamentos-reactjs/lerna-debug.log*
fundamentos/01-fundamentos-reactjs/node_modules
fundamentos/01-fundamentos-reactjs/dist
fundamentos/01-fundamentos-reactjs/dist-ssr
fundamentos/01-fundamentos-reactjs/*.local
fundamentos/01-fundamentos-reactjs/# Editor directories and files
fundamentos/01-fundamentos-reactjs/.vscode/*
fundamentos/01-fundamentos-reactjs/!.vscode/extensions.json
fundamentos/01-fundamentos-reactjs/.idea
fundamentos/01-fundamentos-reactjs/.DS_Store
fundamentos/01-fundamentos-reactjs/*.suo
fundamentos/01-fundamentos-reactjs/*.ntvs*
fundamentos/01-fundamentos-reactjs/*.njsproj
fundamentos/01-fundamentos-reactjs/*.sln
fundamentos/01-fundamentos-reactjs/*.sw?

fundamentos/01-fundamentos-reactjs-ts/logs
fundamentos/01-fundamentos-reactjs-ts/*.log
fundamentos/01-fundamentos-reactjs-ts/npm-debug.log*
fundamentos/01-fundamentos-reactjs-ts/yarn-debug.log*
fundamentos/01-fundamentos-reactjs-ts/yarn-error.log*
fundamentos/01-fundamentos-reactjs-ts/pnpm-debug.log*
fundamentos/01-fundamentos-reactjs-ts/lerna-debug.log*
fundamentos/01-fundamentos-reactjs-ts/node_modules
fundamentos/01-fundamentos-reactjs-ts/dist
fundamentos/01-fundamentos-reactjs-ts/dist-ssr
fundamentos/01-fundamentos-reactjs-ts/*.local
fundamentos/01-fundamentos-reactjs-ts/# Editor directories and files
fundamentos/01-fundamentos-reactjs-ts/.vscode/*
fundamentos/01-fundamentos-reactjs-ts/!.vscode/extensions.json
fundamentos/01-fundamentos-reactjs-ts/.idea
fundamentos/01-fundamentos-reactjs-ts/.DS_Store
fundamentos/01-fundamentos-reactjs-ts/*.suo
fundamentos/01-fundamentos-reactjs-ts/*.ntvs*
fundamentos/01-fundamentos-reactjs-ts/*.njsproj
fundamentos/01-fundamentos-reactjs-ts/*.sln
fundamentos/01-fundamentos-reactjs-ts/*.sw?
