01-fundamentos-reactjs/logs
01-fundamentos-reactjs/*.log
01-fundamentos-reactjs/npm-debug.log*
01-fundamentos-reactjs/yarn-debug.log*
01-fundamentos-reactjs/yarn-error.log*
01-fundamentos-reactjs/pnpm-debug.log*
01-fundamentos-reactjs/lerna-debug.log*
01-fundamentos-reactjs/node_modules
01-fundamentos-reactjs/dist
01-fundamentos-reactjs/dist-ssr
01-fundamentos-reactjs/*.local
01-fundamentos-reactjs/# Editor directories and files
01-fundamentos-reactjs/.vscode/*
01-fundamentos-reactjs/!.vscode/extensions.json
01-fundamentos-reactjs/.idea
01-fundamentos-reactjs/.DS_Store
01-fundamentos-reactjs/*.suo
01-fundamentos-reactjs/*.ntvs*
01-fundamentos-reactjs/*.njsproj
01-fundamentos-reactjs/*.sln
01-fundamentos-reactjs/*.sw?

01-fundamentos-reactjs-ts/logs
01-fundamentos-reactjs-ts/*.log
01-fundamentos-reactjs-ts/npm-debug.log*
01-fundamentos-reactjs-ts/yarn-debug.log*
01-fundamentos-reactjs-ts/yarn-error.log*
01-fundamentos-reactjs-ts/pnpm-debug.log*
01-fundamentos-reactjs-ts/lerna-debug.log*
01-fundamentos-reactjs-ts/
01-fundamentos-reactjs-ts/node_modules
01-fundamentos-reactjs-ts/dist
01-fundamentos-reactjs-ts/dist-ssr
01-fundamentos-reactjs-ts/*.local
01-fundamentos-reactjs-ts/
01-fundamentos-reactjs-ts/# Editor directories and files
01-fundamentos-reactjs-ts/.vscode/*
01-fundamentos-reactjs-ts/!.vscode/extensions.json
01-fundamentos-reactjs-ts/.idea
01-fundamentos-reactjs-ts/.DS_Store
01-fundamentos-reactjs-ts/*.suo
01-fundamentos-reactjs-ts/*.ntvs*
01-fundamentos-reactjs-ts/*.njsproj
01-fundamentos-reactjs-ts/*.sln
01-fundamentos-reactjs-ts/*.sw?
